In [2]:
import pandas as pd
import numpy as np

In [3]:
prd_path=r"C:\Users\Felicio.Cassalho\work\Python_Development\ofs_dps\data\model\1d_node/073802511_stofs3d_salt_999_None_model.prd"
obs_path=r"C:\Users\Felicio.Cassalho\work\Python_Development\ofs_dps\data\observations\1d_station/073802511_stofs3d_salt_station.obs"

In [4]:
obs_df = pd.read_csv(obs_path,
                delim_whitespace=True,
                header=None,
                )

C:\Users\Felicio.Cassalho\AppData\Local\Temp\1\ipykernel_22648\2329384873.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  obs_df = pd.read_csv(obs_path,

In [5]:
ofs_df = pd.read_csv(prd_path,
                delim_whitespace=True,
                header=None,
                )

C:\Users\Felicio.Cassalho\AppData\Local\Temp\1\ipykernel_22648\1571357676.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  ofs_df = pd.read_csv(prd_path,

In [6]:
obs_df["DateTime"] = pd.to_datetime(
        dict(
            year=obs_df[1],
            month=obs_df[2],
            day=obs_df[3],
            hour=obs_df[4],
            minute=obs_df[5],
        )
    )
obs_df = obs_df.rename(columns={6: "OBS"})

In [7]:
ofs_df["DateTime"] = pd.to_datetime(
    dict(
        year=ofs_df[1],
        month=ofs_df[2],
        day=ofs_df[3],
        hour=ofs_df[4],
        minute=ofs_df[5],
    )
)
ofs_df = ofs_df.rename(columns={6: "OFS"})

In [8]:
paired_0 = pd.DataFrame()
paired_0["DateTime"] = ofs_df["DateTime"]

In [9]:
# paired_0['fill']=-9999

In [10]:
paired_obs = pd.concat([paired_0, obs_df]).sort_values(
        by="DateTime"
    )

In [11]:
paired_obs = paired_obs[
    ~paired_obs["DateTime"].duplicated(keep=False)
    | paired_obs[["OBS"]].notnull().any(axis=1)
]

In [12]:
paired_obs = (
        paired_obs.sort_values(by="DateTime")
        .set_index("DateTime")
        .astype(float)
        .interpolate(method="time",limit=7,limit_direction='both')
        # .ffill()
        # .bfill()
        .reset_index()
    )

In [13]:
#paired_obs[8550:8600]

In [14]:
paired_ofs = pd.concat([paired_0, ofs_df]).sort_values(
        by="DateTime"
    )

In [15]:
paired_ofs = paired_ofs[
    ~paired_ofs["DateTime"].duplicated(keep=False)
    | paired_ofs[["OFS"]].notnull().any(axis=1)
]
paired_ofs = (
    paired_ofs.sort_values(by="DateTime")
    .set_index("DateTime")
    .astype(float)
    .interpolate(method="time",limit=7,limit_direction='both')
    # .ffill()
    # .bfill()
    .reset_index()
)

In [16]:
paired = pd.concat([paired_obs, paired_ofs]).sort_values(by="DateTime")
paired = paired.groupby("DateTime", as_index=False).max()
# paired = paired.dropna().reset_index()

In [17]:
paired = paired[paired['DateTime'].isin(paired_ofs['DateTime'])]

In [18]:
paired["BIAS"] = paired["OFS"] - paired["OBS"]

In [28]:
type(np.array(paired_obs[8599:8600]["OBS"])[0])

numpy.float64

In [29]:
paired = paired.reset_index()

In [30]:
paired = paired.drop(columns=['index', 'DateTime'])

In [32]:
paired[8599:]

,0,1,2,3,4,5,OBS,OFS,BIAS
8599,240.722222,2021.0,8.0,29.0,17.000000,20.0,NaN,27.7041,NaN
8600,240.729167,2021.0,8.0,29.0,17.000000,30.0,NaN,27.8807,NaN
8601,240.736111,2021.0,8.0,29.0,17.000000,40.0,NaN,28.0714,NaN
8602,240.743056,2021.0,8.0,29.0,17.000000,50.0,NaN,28.2765,NaN
8603,240.750000,2021.0,8.0,29.0,18.000000,0.0,NaN,28.4938,NaN
...,...,...,...,...,...,...,...,...,...
13537,275.013889,2021.0,10.0,3.0,0.000000,20.0,3.033333,24.5022,21.468867
13538,275.020833,2021.0,10.0,3.0,0.000000,30.0,3.000000,24.4917,21.491700
13539,275.027778,2021.0,10.0,3.0,0.333333,40.0,3.033333,24.4824,21.449067
13540,275.034722,2021.0,10.0,3.0,0.666667,50.0,3.066667,24.4742,21.407533
13541,275.041667,2021.0,10.0,3.0,1.000000,0.0,3.100000,24.4670,21.367000

In [34]:
xxx = paired.dropna()

In [38]:
xxx[8550:8600]

,0,1,2,3,4,5,OBS,OFS,BIAS
8550,240.381944,2021.0,8.000268,29.000000,9.000000,10.000000,10.997912,26.9051,15.907188
8551,240.388889,2021.0,8.000535,29.000000,9.000000,20.000000,10.995823,26.8922,15.896377
8552,240.395833,2021.0,8.000803,29.000000,9.000000,30.000000,10.993735,26.8787,15.884965
8553,240.402778,2021.0,8.001071,29.000000,9.000000,40.000000,10.991647,26.8657,15.874053
8554,240.409722,2021.0,8.001339,29.000000,9.000000,50.000000,10.989558,26.8543,15.864742
8555,240.416667,2021.0,8.001606,29.000000,10.000000,0.048193,10.987470,26.8440,15.856530
8556,240.423611,2021.0,8.001874,29.000000,10.000000,10.000000,10.985382,26.8344,15.849018
12277,266.263889,2021.0,9.000000,24.009371,7.003748,29.943775,3.214618,23.8224,20.607782
12278,266.270833,2021.0,9.000000,24.008032,7.003213,30.000000,3.212530,23.8299,20.617370
12279,266.277778,2021.0,9.000000,24.006693,7.002677,40.000000,3.210442,23.8369,20.626458
12280,266.284722,2021.0,9.000000,24.005355,7.002142,50.000000,3.208353,23.8434,20.635047
12281,266.291667,2021.0,9.000000,24.004016,7.001606,29.975904,3.206265,23.8493,20.643035
12282,266.298611,2021.0,9.000000,24.002677,7.001071,29.983936,3.204177,23.8548,20.650623
12283,266.305556,2021.0,9.000000,24.001339,7.000535,29.991968,3.202088,23.8598,20.657712
12284,266.312500,2021.0,9.000000,24.000000,7.000000,30.000000,3.200000,23.8644,20.664400
12285,266.319444,2021.0,9.000000,24.000000,7.166667,40.000000,3.200000,23.8686,20.668600
12286,266.326389,2021.0,9.000000,24.000000,7.333333,50.000000,3.200000,23.8724,20.672400
12287,266.333333,2021.0,9.000000,24.000000,8.000000,30.000000,3.200000,23.8757,20.675700
12288,266.340278,2021.0,9.000000,24.000000,8.000000,30.000000,3.200000,23.8786,20.678600
12289,266.347222,2021.0,9.000000,24.000000,8.000000,30.000000,3.200000,23.8812,20.681200
12290,266.354167,2021.0,9.000000,24.000000,8.000000,30.000000,3.200000,23.8833,20.683300
12291,266.361111,2021.0,9.000000,24.000000,8.333333,40.000000,3.200000,23.8850,20.685000
12292,266.368056,2021.0,9.000000,24.000000,8.666667,50.000000,3.200000,23.8864,20.686400
12293,266.375000,2021.0,9.000000,24.000000,9.000000,0.000000,3.200000,23.8871,20.687100
12294,266.381944,2021.0,9.000000,24.000000,9.000000,10.000000,3.133333,23.8874,20.754067
12295,266.388889,2021.0,9.000000,24.000000,9.000000,20.000000,3.066667,23.8872,20.820533
12296,266.395833,2021.0,9.000000,24.000000,9.000000,30.000000,3.000000,23.8866,20.886600
12297,266.402778,2021.0,9.000000,24.000000,9.333333,40.000000,3.000000,23.8856,20.885600
12298,266.409722,2021.0,9.000000,24.000000,9.666667,50.000000,3.000000,23.8846,20.884600
12299,266.416667,2021.0,9.000000,24.000000,10.000000,0.000000,3.000000,23.8832,20.883200
12300,266.423611,2021.0,9.000000,24.000000,10.000000,10.000000,2.966667,23.8815,20.914833
12301,266.430556,2021.0,9.000000,24.000000,10.000000,20.000000,2.933333,23.8794,20.946067
12302,266.437500,2021.0,9.000000,24.000000,10.000000,30.000000,2.900000,23.8772,20.977200
12303,266.444444,2021.0,9.000000,24.000000,10.333333,40.000000,2.900000,23.8754,20.975400
12304,266.451389,2021.0,9.000000,24.000000,10.666667,50.000000,2.900000,23.8741,20.974100
12305,266.458333,2021.0,9.000000,24.000000,11.000000,0.000000,2.900000,23.8736,20.973600
12306,266.465278,2021.0,9.000000,24.000000,11.000000,10.000000,2.866667,23.8741,21.007433
12307,266.472222,2021.0,9.000000,24.000000,11.000000,20.000000,2.833333,23.8757,21.042367
12308,266.479167,2021.0,9.000000,24.000000,11.000000,30.000000,2.800000,23.8785,21.078500
12309,266.486111,2021.0,9.000000,24.000000,11.333333,40.000000,2.800000,23.8825,21.082500
12310,266.493056,2021.0,9.000000,24.000000,11.666667,50.000000,2.800000,23.8877,21.087700
12311,266.500000,2021.0,9.000000,24.000000,12.000000,0.000000,2.800000,23.8940,21.094000
12312,266.506944,2021.0,9.000000,24.000000,12.000000,10.000000,2.800000,23.9012,21.101200
12313,266.513889,2021.0,9.000000,24.000000,12.000000,20.000000,2.800000,23.9092,21.109200
12314,266.520833,2021.0,9.000000,24.000000,12.000000,30.000000,2.800000,23.9178,21.117800
12315,266.527778,2021.0,9.000000,24.000000,12.333333,40.000000,2.800000,23.9266,21.126600
12316,266.534722,2021.0,9.000000,24.000000,12.666667,50.000000,2.800000,23.9352,21.135200
12317,266.541667,2021.0,9.000000,24.000000,13.000000,0.000000,2.800000,23.9433,21.143300
12318,266.548611,2021.0,9.000000,24.000000,13.000000,10.000000,2.800000,23.9509,21.150900
12319,266.555556,2021.0,9.000000,24.000000,13.000000,20.000000,2.800000,23.9578,21.157800